.modal{
}

.modal .modalButtonContainer {
    display: flex;
    justify-content: end;
}

.modalButtonContainer button {
    padding: 0 0.5rem;
    margin: 0;
    background: inherit;
    color: #d1d5db;
    border-radius: 0rem;
}

.modalButtonContainer button:hover {
    background: none;
}
