.footer {
    display: flex;
    align-items: center;
    background: #171717;
    padding: 1.25rem 0 1.25rem 0;
}

.footer div {
   display: flex;
   flex-direction: column; 
   align-self: flex-start;
   flex-basis: 25%;
}

.footer h1 {
    text-transform: capitalize;
    color: #9CA3AF;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.footer a {
    text-transform: capitalize;
    color: #6B7280;
    padding: 0 0 0 0.8rem;
    transition: color 200ms;
    width: 40%;
}

.footer a:hover {
    color: #E5E7EB;
}
