.container{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    width: 100%;
}

.container input {
    padding: 0.25rem;
    margin: 0.5rem;
    border-radius: 9999px;
    border: 2px solid #5B21B6;
}

.name {
    color: white;
    font-weight: 700;
}

.modifier {
    flex-grow: 1;
    padding-right: 1rem;
    text-align: end;
    font-weight: 700;
    color: #8B5CF6;
}
